# Dependencies
node_modules

# Build outputs
.next
dist
coverage
storybook-static
out

# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Environment files
.env
.env.local
.env.*.local

# Local database files
dev.db
prisma/dev.db

# TypeScript cache
*.tsbuildinfo

# Misc
.DS_Store
.vscode
